/* * {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
} */

html {
  background: url(/images/sky.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  margin-top: -60px;
  padding-bottom: 40px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* body {
  background: #222;
  background-image: url('../images/sky.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
} */

.card {
  /* width: 100%; */
  /*width: 90%;
  max-width: 470px;*/
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #e5ced8, #7d5162);
  /*background: transparent;*/
  color: #fff;
  margin: 100px auto 0;
  border-radius: 25px;
  padding: 25px 35px;
  text-align: center;
  box-shadow: 5px 5px 10px #7d5162;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 15px;
  height: 30px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 55px;
  cursor: pointer;
  transition: all 1s;
}

.search button:hover img{
  transform: rotateY(180deg);
  /* filter: brightness(0) saturate(100%) invert(38%) sepia(3%) saturate(5163%) hue-rotate(285deg) brightness(88%) contrast(86%); */
  filter: brightness(0) saturate(100%) invert(18%) sepia(90%) saturate(1814%) hue-rotate(313deg) brightness(96%) contrast(95%);
}

.search button img {
  width: 18px;
  transition: all 1s;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.col img {
  width: 40px;
  margin-bottom: 20px;
}

.col .title{
    margin-top:-8px;
}

.humidity,
.wind {
  font-size: 24px;
  margin-top: -6px;
}

.weather {
  display: none;
}

.error {
  text-align: left;
  margin: left;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}

@media (max-width: 912px) {
  .card {
    width: 90%;
    max-width: 470px;
  }
}

@media (max-width: 1280px) {
  .card {
    width: 80%;
    max-width: 470px;
  }
}

@media (max-width: 360px) {
  .search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 0px 7px;
    height: 60px;
    border-radius: 20px;
    flex: 1;
    margin-right: 8px;
    font-size: 18px;
  }

  .search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 30%;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
}

@media (max-width: 375px) {
  .search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 0px 7px;
    height: 60px;
    border-radius: 20px;
    flex: 1;
    margin-right: 8px;
    font-size: 18px;
  }

  .search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 30%;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
}

@media (max-width: 280px) {
  .search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 0px 4px 4px 4px;
    height: 60px;
    border-radius: 20px;
    flex: 1;
    margin-right: 4px;
    font-size: 18px;
  }

  .search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 30%;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }

  .card {
    width: 108%;
    /*width: 90%;
    max-width: 470px;*/
    background: linear-gradient(135deg, #60a7ff, #3d385c);
    /*background: transparent;*/
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
  }
}

@media (max-width: 360px) {
  .search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 0px px;
    height: 35px;
    border-radius: 20px;
    flex: 1;
    margin-right: 8px;
    font-size: 18px;
  }

  .search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    /* width: 70px; */
    height: 35px;
    cursor: pointer;
  }
}

@media (max-width: 320px) {
  .search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 0px 7px;
    height: 60px;
    border-radius: 20px;
    flex: 1;
    margin-right: 8px;
    font-size: 18px;
  }

  .search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 30%;
    width: 80px;
    height: 60px;
    cursor: pointer;
  }
}
